#include "charybdis.dtsi"
#include "charybdis_pmw3610.dtsi"
#include "charybdis_pointer.dtsi"

&default_transform {
    col-offset = <5>;
};

&kscan0 {
    compatible = "zmk,kscan-gpio-matrix";
    
    col-gpios
        = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio1 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    
    row-gpios
        = <&gpio0 31 GPIO_ACTIVE_HIGH>
        , <&gpio1 15 GPIO_ACTIVE_HIGH>
        , <&gpio0 24 GPIO_ACTIVE_HIGH>
        , <&gpio0 22 GPIO_ACTIVE_HIGH>;
};

/* enable trackball */
&trackball {
    status = "okay";
};

/* enable the listener on central */
&trackball_listener {
    status = "okay";
    device = <&trackball>;
};

/ {
    // Automouse configuration - activate MOUSE layer on trackball movement
    input_listener_cb0: input_listener_cb0 {
        compatible = "zmk,input-listener";
        device = <&trackball_listener>;
        
        xy-swap;
        y-invert;
        
        layer-toggle = <6>;  // MOUSE layer
        timeout-ms = <600>;
    };
};
