manifest:
  remotes:
    - name: urob
      url-base: https://github.com/urob

    - name: badjeff
      url-base: https://github.com/badjeff

  projects:
    - name: zmk
      remote: urob
      revision: f2eb0b888d13f23c70dfa93d8e6e2c61c5d03f67
      import: app/west.yml

    - name: zmk-pmw3610-driver
      remote: badjeff
      revision: main

  self:
    path: config
