manifest:
  remotes:
    - name: urob
      url-base: https://github.com/urob

    - name: badjeff
      url-base: https://github.com/badjeff

  projects:
    - name: zmk
      remote: urob
      revision: v0.2
      import: app/west.yml

    - name: zmk-pmw3610-driver
      remote: badjeff
      revision: main

  self:
    path: config
